/* #Fonts
================================================== */
@font-face {
  font-family: "pekan";
  font-weight: 200;
  src: url("../font/PekanLight_0.ttf");
}

@font-face {
  font-family: "pekan";
  font-weight: 400;
  src: url("../font/PekanRegular_0.ttf");
}

@font-face {
  font-family: "pekan";
  font-weight: 700;
  src: url("../font/PekanBold_0.ttf");
}

/* #Global
================================================== */
body {
  font-family: "pekan";
}

.text-yellow {
  color: #fff200;
}

/* #Home Page
================================================== */
.home-page {
  position: relative;
}

/* #Bg
================================================== */
.bg img {
  width: 100%;
}

/* #Video
================================================== */
.video {
  position: absolute;
  top: 3.125vw;
  left: 3.9vw;
}

.video video {
  width: 53.75vw;
  height: 30vw;
  object-fit: cover;
  object-position: center;
}

.video a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video a img {
  width: 7.7vw;
}

@media (max-width: 1023.98px) {
  .video {
    top: 179.5vw;
    left: 0;
    width: 100%;
  }
  
  .video video {
    width: 100%;
    height: 94.5vw;
  }
  
  .video a img {
    width: 26.66vw;
  }
}

/* #Text
================================================== */
.text {
  position: absolute;
  top: 3.125vw;
  right: 1vw;
}

.text img {
  width: 38.38vw;
}

@media (max-width: 1023.98px) {
  .text {
    position: absolute;
    top: 94.125vw;
    right: 6vw;
  }
  
  .text img {
    width: 73.95vw;
  }
}

/* #Text Mobile
================================================== */
.text-mobile {
  color: white;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 152vw;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 6.75vw;
}

/* #Yellow Btn
================================================== */
.yellow-btn {
  position: absolute;
  top: 32vw;
  right: 28.9vw;
}

.yellow-btn img {
  width: 8.5vw;
}

@media (max-width: 1023.98px) {
  .yellow-btn {
    top: 86vw;
    right: 75.9vw;
  }
  
  .yellow-btn img {
    width: 19.47vw;
  }
}

/* #Form
================================================== */
.form {
  position: absolute;
  bottom: 11.25vw;
  right: 4.8vw;
  width: 37vw;
  color: white;
}

.form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form .btn {
  background-color: #fff200;
  color: #ce102d;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.16vw;
  border-radius: 1vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  margin-top: 1.8vw;
  font-size: 2.5vw;
  font-weight: 700;
}

.form h2 {
  margin-bottom: 1.3vw;
  font-size: 3.7vw;
  line-height: 1;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.form form > div {
  flex: 0 0 100%;
}

.form form > div:nth-child(1),
.form form > div:nth-child(2),
.form form > div:nth-child(3),
.form form > div:nth-child(4) {
  flex: 0 0 48.5%;
}

.form input:not([type="checkbox"]) {
  background-color: white;
  color: #a7a9ac;
  border: none;
  width: 100%;
  margin-bottom: 1.1vw;
  width: 100%;
  height: 4.16vw;
  border-radius: 1vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 0 1.5vw;
  font-size: 2.5vw;
}

.form input::placeholder {
  color: #a7a9ac;
}

.form .checkbox {
  font-size: 2.5vw;
  width: 100%;
  align-items: center;
}

.checkbox input {
  width: 2.34vw;
  height: 2.34vw;
  border-radius: .5vw;
  border-color: white;
  background-color: white;
  flex: 0 0 2.34vw;
}

.checkbox input:checked {
  border-color: white;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10' fill='none' %3E %3Cpath stroke='%23000000' d='M1 6L4 9L11 1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' %3E %3C/path%3E %3C/svg%3E");
  background-size: 1.1vw auto;
}

.checkbox label {
  padding-right: 1vw;
}

@media (max-width: 1023.98px) {
  .form {
    bottom: 7.5vw;
    right: 50%;
    transform: translateX(50%);
    width: 92%;
    text-align: center;
  }
  
  .form form {
    display: block;
  }
  
  .form .btn {
    height: 9.6vw;
    border-radius: 2vw;
    margin-top: 2vw;
    font-size: 6vw;
  }
  
  .form h2 {
    margin-bottom: 2.66vw;
    font-size: 7vw;
  }
  
  .form input:not([type="checkbox"]) {
    margin-bottom: 3.33vw;
    height: 9.6vw;
    border-radius: 2vw;
    padding: 0 2vw;
    font-size: 6vw;
    text-align: center;
  }
  
  .form .checkbox {
    font-size: 6vw;
    justify-content: center;
  }
  
  .checkbox input {
    width: 5.32vw;
    height: 5.32vw;
    border-radius: 1.33vw;
    flex: 0 0 5.32vw;
  }
  
  .checkbox input:checked {
    background-size: 3vw auto;
  }
  
  .checkbox label {
    padding-right: 2vw;
  }
}

/* #Logo
================================================== */
@media (max-width: 1023.98px) {
  .logo {
    position: absolute;
    top: 4.68vw;
    left: 4.68vw;
  }
  
  .logo img {
    width: 15.2vw;
  }
}

/* #Video Popup
================================================== */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 11000;
  overflow-y: auto;

  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;

  transition: all .4s ease;
  backface-visibility: hidden;
}

.video-popup.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.video-popup {
  padding: 0 16.5%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.video-popup .popup-close {
  margin-bottom: 1vw;
  border-radius: 50%;
}

.video-popup .popup-close img {
  width: 2vw;
}

@media (max-width: 1023.98px) {
  .video-popup {
    padding: 0 4%;
  }

  .video-popup .popup-close {
    margin-bottom: 2vw;
  }

  .video-popup .popup-close img {
    width: 6vw;
  }
}